@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: 51, 65, 85;
  /* --background-start-rgb: 214, 219, 220; */
  --background-end-rgb: 255, 255, 255;
}

/* for darkMode: "media", */
/* @media (prefers-color-scheme: dark) {
  :root {
    --text-color: 239, 231, 235;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--text-color));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}
